body{
    text-align: center;
}

.counter-container{
border: 21px solid black;
background-color: bisque;

}

.count-wrapper{
    color: rgb(89, 38, 38);
background-color: beige;    
border: 3px solid brown;
width: 30%;
margin-left: 35%;
margin-top: 5%;
margin-bottom: 5%;
padding: 10px;
}